.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
}

.row {
    margin: 20px 0;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}